<h3 class="title--big">Hot News!</h3>

<!-- House Cup Winner Section -->
<a href="#" target="_blank" class="codepen-item pie">
  <img class="pie__image" src="https://i.pinimg.com/originals/55/0a/c9/550ac9839fc15a1b99b4ef3bed3bb5e4.gif" alt="Gryffindor Banner" />
  <div class="pie__subtitle">Hogwarts House Cup Winner:</div>
  <div class="pie__content">
    <h4>Gryffindor!</h4>
    <p>As usual Gryffindor scraped a win at the inter-house championship at Hogwarts, leaving Slytherin in second place once more.</p>
  </div>
</a>

<!-- Godric Gryffindor's Wand Discovery -->
<a href="https://thedailyprophet.net/magical-news/godric-gryffindors-wand-resurfaces-at-hogwarts/" target="_blank" class="sidebar-item captcha">
  <h5>Godric Gryffindor's Wand Resurfaces At Hogwarts</h5>
  <p>Earlier today Kaitlyn Byers, a 4th year from Ravenclaw, discovered what is now thought to be Godric Gryffindor's Wand. While the magical item is currently being housed by The Ministry of Magic and undergoing tests to confirm its origin, how the wand made it into the hands of a student is quite astonishing.</p>
</a>

<!-- Ministry Chaos Report -->
<a href="https://thedailyprophet.net/magical-news/muggle-at-the-ministry-delightful-chaos/" target="_blank" class="sidebar-item slack-ui with-border">
  <h5>Muggle at the Ministry…Delightful Chaos?</h5>
  <p>Delightful chaos: that’s how Minister Hermione Granger describes the responsibilities of the Ministry’s department of Magical Accidents and Catastrophes.</p>
</a>

<!-- Animated Online Sorting Advertisement -->
<a href="https://codepen.io/oliviale/full/dwBqwV" target="_blank" class="workout">
  <div class="workout__image">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3b23e537-1bf4-4de8-b248-2b0691e3b916/d5yg6mv-fab2c857-6533-4d4e-abb0-5e5cebee01b5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNiMjNlNTM3LTFiZjQtNGRlOC1iMjQ4LTJiMDY5MWUzYjkxNlwvZDV5ZzZtdi1mYWIyYzg1Ny02NTMzLTRkNGUtYWJiMC01ZTVjZWJlZTAxYjUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.v9f_E_AH56hL_DIqsdiJso4MgwvfG_tLjyhR_v0_Jrw" alt="Sorting Hat" />
  </div>
  <div class="workout__blurb">Hogwarts to sort students online! </div>
  <div class="workout__title">A Prototype has been released!</div>
</a>